body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sectionHeading {
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black; /* Underline */
    font-size: 30px;
}

#contentContainer {
    position: relative;
    padding-top: 50px; /* Adjust to create space for the heading */
}

#toggleDarkMode {
    position: absolute;
    bottom: -50px;
    left: 11%;
    transform: translateX(-50%);
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparency */
    border: 2px solid #333; /* Dark grey border */
    color: white;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.darkMode {
    background-color: #333;
    color: #fff;
}

.darkMode body {
    background-color: #333;
    color: #fff;
    margin: 50px;
}

.notInStock {
    display: none;
}
